### 2018.7.7

** 데이터 로딩 / 기본 확인 작업 **

In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

userdata = pd.read_csv('02-user-data.csv')

In [86]:
userdata.head(2)

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청
0,안원준,남성,010-2292-6251,31세,78,68,176,2016년 07월 05일,2016년 07월 05일,아니오,주 1회,0개월,아니요
1,유세아,여성,01045795881,39,56kg,51kg,172,2016년 10월 02일,2016년 11월 29일,예,월 1회,0개월,아니요

In [87]:
# 전체 데이터가 106839 
# 중간에 null 값이 많아 보인다 
userdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106839 entries, 0 to 106838
Data columns (total 13 columns):
이름           106839 non-null object
성별           106839 non-null object
전화번호         106839 non-null object
나이           96199 non-null object
현재 체중        106839 non-null object
목표 체중        106839 non-null object
키            106839 non-null object
회원 가입일       106839 non-null object
회원 정보 갱신일    106839 non-null object
흡연 여부        106839 non-null object
음주 여부        106839 non-null object
가입 개월 수      106839 non-null object
개인상담 요청      106839 non-null object
dtypes: object(13)
memory usage: 5.3+ MB

In [88]:
# 사람들은 나이에 민감한 것 같다 
userdata.isnull().sum()

이름               0
성별               0
전화번호             0
나이           10640
현재 체중            0
목표 체중            0
키                0
회원 가입일           0
회원 정보 갱신일        0
흡연 여부            0
음주 여부            0
가입 개월 수          0
개인상담 요청          0
dtype: int64

** 1. 텍스트로 된 흡연 여부(예/아니오)를 True/False 로 바꾸기 **

In [89]:
userdata.head(1)

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청
0,안원준,남성,010-2292-6251,31세,78,68,176,2016년 07월 05일,2016년 07월 05일,아니오,주 1회,0개월,아니요

In [111]:
smoking_mapping = {'예': True, '아니오': False}
userdata['흡연 여부'] = userdata['흡연 여부'].map(smoking_mapping)

In [112]:
userdata['흡연 여부'].value_counts()

False    85468
True     21371
Name: 흡연 여부, dtype: int64

In [91]:
userdata.head(1)

,이름,성별,전화번호,나이,현재 체중,목표 체중,키,회원 가입일,회원 정보 갱신일,흡연 여부,음주 여부,가입 개월 수,개인상담 요청
0,안원준,남성,010-2292-6251,31세,78,68,176,2016년 07월 05일,2016년 07월 05일,False,주 1회,0개월,아니요

** 2. 나이에서 0세라고 되어있는 것을 NaN으로 바꾸기 **

In [49]:
#나이에서 0 것을 확인 
# 확인 결과 (0세)는 없음 
# -> 따라서 의미 없음 
s = userdata['나이'].value_counts()
s.to_csv('02-age-value_counts.csv')

** 3. 나이 컬럼을 정리하기 **

In [53]:
#test : 이거면 충분한듯 
dt = ['32세', '32', '32 세']
for a in dt: 
    print(int(a.replace('세','')))

32
32
32

In [113]:
#age는 null값이 10640 개 만큼 있다 
#Working with missing data 
#https://pandas.pydata.org/pandas-docs/stable/missing_data.html 
def convert_age(age):
    if pd.isnull(age):
        return age  #null은 그대로 두기     
    return int(age.replace('세',''))

userdata['나이'] = userdata['나이'].apply(convert_age)

In [114]:
#결과 확인 
userdata['나이'].value_counts()

33.0     7024
34.0     6773
32.0     6677
31.0     6644
35.0     6438
30.0     5945
36.0     5846
29.0     5250
37.0     5186
28.0     4656
38.0     4475
27.0     3973
39.0     3734
26.0     3074
40.0     2858
25.0     2493
41.0     2282
24.0     1836
42.0     1698
23.0     1345
43.0     1200
22.0      936
44.0      787
21.0      636
45.0      558
20.0      430
46.0      351
19.0      263
47.0      186
7.0       156
         ...
112.0      27
98.0       27
89.0       27
99.0       26
84.0       26
81.0       25
80.0       25
114.0      25
51.0       25
85.0       25
91.0       24
92.0       23
100.0      22
110.0      22
102.0      21
93.0       21
106.0      20
83.0       20
113.0      20
115.0      18
117.0      18
90.0       17
118.0      16
14.0       12
52.0       12
13.0       10
53.0        3
54.0        3
12.0        3
11.0        2
Name: 나이, Length: 91, dtype: int64

In [115]:
userdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106839 entries, 0 to 106838
Data columns (total 13 columns):
이름           106839 non-null object
성별           106839 non-null object
전화번호         106839 non-null object
나이           96199 non-null float64
현재 체중        106839 non-null object
목표 체중        106839 non-null object
키            106839 non-null object
회원 가입일       106839 non-null object
회원 정보 갱신일    106839 non-null object
흡연 여부        106839 non-null bool
음주 여부        106839 non-null object
가입 개월 수      106839 non-null object
개인상담 요청      106839 non-null object
dtypes: bool(1), float64(1), object(11)
memory usage: 5.4+ MB

** 4. 평균(mean) / 최소(min) / 최대(max) 나이 구하기 **

In [94]:
#굳이 따로 할 이유가 없다 
print(userdata['나이'].describe())

count    96199.000000
mean        33.299733
std          9.313025
min          2.000000
25%         29.000000
50%         33.000000
75%         37.000000
max        119.000000
Name: 나이, dtype: float64

** 5. 컬럼의 순서를 조금 더 직관적으로 바꾸기 **

In [95]:
userdata['음주 여부'].value_counts()

월 2회    32214
주 1회    32194
월 1회    21037
주 2회    10813
안 마심    10581
Name: 음주 여부, dtype: int64

**6. 컬럼 이름 바꾸기**

* 이름 - Name
* 성별 - Gender
* 전화번호 - Phone Number
* 나이 - Age
* 현재 체중 - Current Weight
* 목표 체종 - Goal Weight <- 스펠링 틀렸음 
* 키 - Height
* 흡연 여부 - Smoking
* 음주 여부 - Drinking
* 개인상담 요청 - Request Counselling
* 회원 가입일 - Joined At
* 회원 정보 갱신일 - Updated At
* 가입 개월 수 - Paid Plan

In [96]:
#위의 컬럼들이 있는지 존재 여부 확인 
userdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106839 entries, 0 to 106838
Data columns (total 13 columns):
이름           106839 non-null object
성별           106839 non-null object
전화번호         106839 non-null object
나이           96199 non-null float64
현재 체중        106839 non-null object
목표 체중        106839 non-null object
키            106839 non-null object
회원 가입일       106839 non-null object
회원 정보 갱신일    106839 non-null object
흡연 여부        106839 non-null bool
음주 여부        106839 non-null object
가입 개월 수      106839 non-null object
개인상담 요청      106839 non-null object
dtypes: bool(1), float64(1), object(11)
memory usage: 5.4+ MB

In [116]:
# columns 필드 
column_mapping = {'이름' : 'Name', 
                  '성별':'Gender', 
                  '전화번호':'Phone Number', 
                  '나이': 'Age',
                  '현재 체중': 'Current Weight', 
                  '목표 체중': 'Goal Weight', 
                  '키': 'Height',
                  '흡연 여부': 'Smoking', 
                  '음주 여부': 'Drinking', 
                  '개인상담 요청': 'Request Counselling',
                  '회원 가입일': 'Joined At', 
                  '회원 정보 갱신일': 'Updated At', 
                  '가입 개월 수':'Paid Plan'}
userdata.rename(columns = column_mapping, inplace=True)

In [117]:
userdata.head()

,Name,Gender,Phone Number,Age,Current Weight,Goal Weight,Height,Joined At,Updated At,Smoking,Drinking,Paid Plan,Request Counselling
0,안원준,남성,010-2292-6251,31.0,78,68,176,2016년 07월 05일,2016년 07월 05일,False,주 1회,0개월,아니요
1,유세아,여성,01045795881,39.0,56kg,51kg,172,2016년 10월 02일,2016년 11월 29일,True,월 1회,0개월,아니요
2,송솔은,여성,010-7719-8346,NaN,29,21,167,2017년 09월 06일,2017년 09월 06일,True,주 1회,0개월,아니요
3,백서원,여성,01011947169,36.0,67,65,0,2017년 06월 02일,2017년 07월 28일,True,안 마심,0개월,아니요
4,박서은,여성,010-2575-6398,42.0,60,57,167,2017년 05월 07일,2017년 05월 07일,False,안 마심,0개월,예

In [101]:
userdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106839 entries, 0 to 106838
Data columns (total 13 columns):
Name                   106839 non-null object
Gender                 106839 non-null object
Phone Number           106839 non-null object
Age                    96199 non-null float64
Current Weight         106839 non-null object
Goal Weight            106839 non-null object
Height                 106839 non-null object
Joined At              106839 non-null object
Updated At             106839 non-null object
Smoking                106839 non-null bool
Drinking               106839 non-null object
Paid Plan              106839 non-null object
Request Counselling    106839 non-null object
dtypes: bool(1), float64(1), object(11)
memory usage: 5.4+ MB

** 7. '상담 요청' 컬럼을 예/아니오 에서 True/False로 바꿔주세요 **

In [118]:
#예/ 아니오 이외의 값이 있는지 확인 
userdata['Request Counselling'].value_counts()

아니요    96260
예      10579
Name: Request Counselling, dtype: int64

In [119]:
#column : Request Counselling --> 상수 처리하고 싶은데.. 
#막상 해보니 별로네요 T_T coloring도 그렇고 
FIELD_REQUEST_COUNSELLING = 'Request Counselling'
reqcs_mapping = {'예': True, '아니요': False}

#날려먹지 않기 위해서.. 
tmp = userdata.copy()
tmp['Request Counselling'] = userdata['Request Counselling'].map(reqcs_mapping)
tmp['Request Counselling'].value_counts()

False    96260
True     10579
Name: Request Counselling, dtype: int64

In [120]:
userdata['Request Counselling'] = tmp['Request Counselling'].copy()

In [121]:
#예/ 아니오 이외의 값이 있는지 확인 
userdata['Request Counselling'].value_counts()

False    96260
True     10579
Name: Request Counselling, dtype: int64

**8. '가입 개월 수' 컬럼을 분석해서, 무료(0개월)인 경우를 True로, 유료인 경우(3, 6, 9, 12개월)를 False로 보여주는 새로운 컬럼을 만들어주세요.**

In [122]:
tmp['Paid Plan'].value_counts()

0개월     74955
3개월     21250
6개월      7291
12개월     3343
Name: Paid Plan, dtype: int64

In [123]:
free_plan_mapping = {'0개월': True, 
                 '3개월': False, 
                 '6개월': False,
                 '12개월': False}
tmp['Free Plan'] = userdata['Paid Plan'].map(free_plan_mapping)
tmp['Free Plan'].value_counts()

True     74955
False    31884
Name: Free Plan, dtype: int64

In [124]:
userdata['Free Plan'] = tmp['Free Plan'].copy()

In [125]:
userdata['Free Plan'].value_counts()

True     74955
False    31884
Name: Free Plan, dtype: int64

** 9. 전화번호 컬럼을 정리해주세요. 다음과 같이 정리해주시면 됩니다. **
  * unknown 이라고 표시되어 있는 전화번호는 빈 전화번호입니다. 이를 NaN으로 바꿔주세요.

In [126]:
userdata['Phone Number'].value_counts()

unknown          10640
010-7666-3598        3
010-8264-2547        2
010-6379-7582        2
01043661268          2
010-7841-6267        2
01098246818          2
01017949256          2
010-3445-1541        2
010-1452-1466        2
01047429851          2
010-7327-2272        2
01098947493          2
01061169311          2
010-7368-3341        2
010-5732-4136        2
010-5228-1612        2
010-7199-3873        2
010-6971-7891        2
010-5372-4837        2
010-5941-9273        2
010-3486-2987        2
010-5136-5832        2
010-7614-7816        2
010-3932-4756        2
01014632526          2
01053729417          2
010-3346-5614        2
010-3424-8251        2
010-8835-7372        2
                 ...
010-1777-3891        1
010-3799-5127        1
010-5446-6474        1
010-7147-1181        1
010-2223-3693        1
010-5124-3234        1
01063223864          1
010-9542-7363        1
010-8484-7188        1
010-4869-7886        1
010-4663-5826        1
010-6734-3653        1
01088525112          1
010-1368-7711        1
01078684199          1
010-6221-4234        1
010-2689-1813        1
010-8423-2549        1
010-4181-8154        1
01071243688          1
010-3646-6532        1
010-8678-4526        1
010-2393-8839        1
010-1448-6259        1
010-7759-1829        1
01093794437          1
01021283664          1
010-1996-2421        1
01039974317          1
01023932823          1
Name: Phone Number, Length: 95189, dtype: int64

In [132]:
tmp.loc[ tmp['Phone Number'] == 'unknown', 'Phone Number'] = np.nan
# tmp['Phone Number'].value_counts()
tmp['Phone Number'].isnull().sum()

10640

In [133]:
userdata['Phone Number'] = tmp['Phone Number'].copy()

In [134]:
#최종 확인 
userdata['Phone Number'].value_counts()

010-7666-3598    3
010-2612-3244    2
010-6379-7582    2
01043661268      2
010-7841-6267    2
01098246818      2
01017949256      2
010-3445-1541    2
010-1452-1466    2
01047429851      2
010-7327-2272    2
01098947493      2
01061169311      2
010-7368-3341    2
010-5732-4136    2
010-5228-1612    2
010-7199-3873    2
010-6971-7891    2
010-5372-4837    2
010-5941-9273    2
010-3486-2987    2
010-5136-5832    2
010-7614-7816    2
010-3932-4756    2
01014632526      2
01053729417      2
010-3346-5614    2
010-3424-8251    2
010-8835-7372    2
01045283897      2
                ..
010-1777-3891    1
010-3799-5127    1
010-5446-6474    1
010-7147-1181    1
010-2223-3693    1
010-5124-3234    1
01063223864      1
010-9542-7363    1
010-8484-7188    1
010-4869-7886    1
010-4663-5826    1
010-6734-3653    1
01088525112      1
010-1368-7711    1
01078684199      1
010-6221-4234    1
010-2689-1813    1
010-8423-2549    1
010-4181-8154    1
01071243688      1
010-3646-6532    1
010-8678-4526    1
010-2393-8839    1
010-1448-6259    1
010-7759-1829    1
01093794437      1
01021283664      1
010-1996-2421    1
01039974317      1
01023932823      1
Name: Phone Number, Length: 95188, dtype: int64

** 10. 키(cm) 컬럼을 정리해주세요. 다음과 같이 정리해주시면 됩니다.** 

* 다양한 형태로 표현되어 있는 키 컬럼(?, ?cm, ? cm 등)을 숫자로 통일해주세요.
* 키가 0으로 되어있으면 NaN으로 바꿔주세요.
* 키가 너무 작거나(140cm 이하) 너무 크면(210cm 이상) 마찬가지로 NaN으로 바꿔주세요.

In [135]:
tmp['Height'].value_counts()

0         10698
172        4813
173        4770
174        4680
171        4476
175        4456
176        4382
170        4331
169        4060
177        4046
168        3710
178        3527
167        3458
179        3198
166        3136
165        2751
180        2550
164        2322
181        2200
163        1998
182        1664
162        1542
183        1254
161        1193
160         914
184         880
159         671
185         605
158         484
173cm       484
          ...
215 cm        1
208 cm        1
152cm         1
130cm         1
229 cm        1
206 cm        1
148           1
152 cm        1
246 cm        1
225cm         1
211 cm        1
220 cm        1
139 cm        1
106cm         1
120cm         1
104cm         1
108 cm        1
240 cm        1
111cm         1
104 cm        1
209cm         1
121 cm        1
229cm         1
150cm         1
221 cm        1
237cm         1
228 cm        1
240cm         1
239cm         1
223 cm        1
Name: Height, Length: 361, dtype: int64

In [136]:
tmp['Height'].value_counts().to_csv('02-height-vc.cvs')

In [138]:
def convert_height(ki):
    if pd.isnull(ki):
        return ki  #null은 그대로 두기     
    return int(ki.replace('cm',''))

tmp['Height'] = tmp['Height'].apply(convert_height)

In [139]:
# 172,4813
# 172cm,473
# 172 cm,396
# 172 = 5682 = 4813 + 473 + 396 = 5682 맞네 :-) 
tmp['Height'].value_counts()

0      10698
172     5682
173     5657
174     5561
175     5317
171     5265
176     5109
170     5107
169     4789
177     4746
168     4370
178     4171
167     4044
166     3747
179     3722
165     3304
180     3047
164     2713
181     2588
163     2357
182     1940
162     1807
183     1471
161     1385
160     1065
184     1007
159      763
185      710
158      559
186      496
       ...
234       18
151       18
237       18
216       18
217       18
108       18
223       18
192       17
229       17
248       17
236       17
228       16
235       16
207       16
244       16
243       15
213       15
215       15
227       15
225       14
232       11
193       11
194        8
204        7
195        4
150        4
149        3
196        2
197        1
148        1
Name: Height, Length: 141, dtype: int64

In [140]:
userdata['Height'] = tmp['Height'].copy()

In [141]:
# 172     5682 검산 완료 
userdata['Height'].value_counts()

0      10698
172     5682
173     5657
174     5561
175     5317
171     5265
176     5109
170     5107
169     4789
177     4746
168     4370
178     4171
167     4044
166     3747
179     3722
165     3304
180     3047
164     2713
181     2588
163     2357
182     1940
162     1807
183     1471
161     1385
160     1065
184     1007
159      763
185      710
158      559
186      496
       ...
234       18
151       18
237       18
216       18
217       18
108       18
223       18
192       17
229       17
248       17
236       17
228       16
235       16
207       16
244       16
243       15
213       15
215       15
227       15
225       14
232       11
193       11
194        8
204        7
195        4
150        4
149        3
196        2
197        1
148        1
Name: Height, Length: 141, dtype: int64

** 원래 정보 시스템에서는 이러한 검산을 할 필요가 없다!! **

** 11.'현재 체중'과	'목표 체중' 컬럼을 정리해주세요. 다음과 같이 정리해주시면 됩니다.** 

* 다양한 형태로 표현되어 있는 몸무게 컬럼(?, ?kg, ? kg 등)을 숫자로 통일해주세요.
* 몸무게가 0으로 되어있으면 NaN으로 바꿔주세요.
* 몸무게가 너무 작거나(40kg 이하) 너무 크면(150kg 이상) 마찬가지로 NaN으로 바꿔주세요.

In [152]:
tmp['Current Weight'].value_counts().to_csv('02-current-weight-vc.csv')

In [149]:
def convert_weight(wt):
    if pd.isnull(wt):
        return wt  #null은 그대로 두기 
    v = int(wt.replace('kg',''))
    if v == 0: 
        return np.nan
    if v < 40 or 

convert_weight('100')

100

In [150]:
tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106839 entries, 0 to 106838
Data columns (total 14 columns):
Name                   106839 non-null object
Gender                 106839 non-null object
Phone Number           96199 non-null object
Age                    96199 non-null float64
Current Weight         106839 non-null object
Goal Weight            106839 non-null object
Height                 106839 non-null int64
Joined At              106839 non-null object
Updated At             106839 non-null object
Smoking                106839 non-null bool
Drinking               106839 non-null object
Paid Plan              106839 non-null object
Request Counselling    106839 non-null bool
Free Plan              106839 non-null bool
dtypes: bool(3), float64(1), int64(1), object(9)
memory usage: 5.6+ MB

In [147]:
def convert_weight(wt):
    if pd.isnull(wt):
        return wt  #null은 그대로 두기 
    if wt.isdigit(): 
        if wt == 0: 
            return pd.nan
        if wt < 40: 
            return pd.nan
        if wt > 150: 
            return pd.nan
    return int(wt.replace('kg',''))

convert_weight(100)

# tmp['Current Weight'] = tmp['Current Weight'].apply(convert_weight)
# tmp['Current Weight'].value_counts()

AttributeError: 'int' object has no attribute 'isdigit'

** 12. 전체 데이터에서 평균/최소/최대 키(cm), 그리고 평균/최소/최대 '현재 체중(kg)'과 '목표 체중(kg)'을 찾아주세요. **

** 13. 전체 데이터에서 흡연자와 비흡연자 인원의 총합을 찾아주세요. **

** 14. 전체 데이터에서 유료 사용자와 무료 사용자의 인원의 총합을 찾아주세요. **

또한 유료 사용자만 한정해서, 3개월 / 6개월 / 12개월 결제자의 인원의 총합을 찾아주세요.

** 15. 전체 데이터에서 흡연자와 음주 여부를 바탕으로 다음을 분석해주세요. **
  1. 흡연과 음주를 둘 다 안 하는 사람의 인원 총합.
  1. 흡연은 하지만 음주는 안 하는 사람의 인원 총합.
  1. 흡연은 하지 않지만 음주는 하는 사람의 인원 총합.
  1. 흡연과 음주를 둘 다 하는 사람의 인원 총합.