In [17]:
#before 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

df = pd.read_csv('02-user-data.csv')

In [18]:
# columns 필드 
column_mapping = {'이름' : 'Name', 
                  '성별':'Gender', 
                  '전화번호':'Phone Number', 
                  '나이': 'Age',
                  '현재 체중': 'Current Weight', 
                  '목표 체중': 'Goal Weight', 
                  '키': 'Height',
                  '흡연 여부': 'Smoking', 
                  '음주 여부': 'Drinking', 
                  '개인상담 요청': 'Request Counselling',
                  '회원 가입일': 'Joined At', 
                  '회원 정보 갱신일': 'Updated At', 
                  '가입 개월 수':'Paid Plan'}
df.rename(columns = column_mapping, inplace=True)

In [29]:
def convert_weight(wt):
    if pd.isnull(wt):
        return wt  #null은 그대로 두기 
    v = int(wt.replace('kg',''))
    if v == 0: 
        return np.nan
    if v < 40 or v > 150: 
        return np.nan
    return v

tmp['Current Weight'] = tmp['Current Weight'].apply(convert_weight)

In [33]:
df['Current Weight'] = tmp['Current Weight'].copy()

In [45]:
tmp['Goal Weight'] = tmp['Goal Weight'].apply(convert_weight)

In [47]:
df['Goal Weight'] = tmp['Goal Weight'].copy()

In [36]:
def convert_height(ki):
    if pd.isnull(ki):
        return ki  #null은 그대로 두기     
    return int(ki.replace('cm',''))

tmp['Height'] = tmp['Height'].apply(convert_height)

In [38]:
df['Height'] = tmp['Height'].copy()

In [19]:
df.head(1)

,Name,Gender,Phone Number,Age,Current Weight,Goal Weight,Height,Joined At,Updated At,Smoking,Drinking,Paid Plan,Request Counselling
0,안원준,남성,010-2292-6251,31세,78,68,176,2016년 07월 05일,2016년 07월 05일,아니오,주 1회,0개월,아니요

In [89]:
tmp = df.copy()

** 16. 성별 컬럼을 정리하기 **

성별 컬럼을 정리해주세요.

데이터를 분석해보면 남성, 여성, 남, 녀, Male, FEMALE 등의 다양한 표현이 있습니다. 이 표현을 male, female으로 통일해주세요.

In [21]:
df.info() #-> Gender는 null이 없음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106839 entries, 0 to 106838
Data columns (total 13 columns):
Name                   106839 non-null object
Gender                 106839 non-null object
Phone Number           106839 non-null object
Age                    96199 non-null object
Current Weight         106839 non-null object
Goal Weight            106839 non-null object
Height                 106839 non-null object
Joined At              106839 non-null object
Updated At             106839 non-null object
Smoking                106839 non-null object
Drinking               106839 non-null object
Paid Plan              106839 non-null object
Request Counselling    106839 non-null object
dtypes: object(13)
memory usage: 5.3+ MB

In [22]:
df['Gender'].value_counts()

남성        31316
여성        21965
남         18802
여         13211
male       7047
Male       4932
female     4890
Female     3579
MALE        657
FEMALE      440
Name: Gender, dtype: int64

In [23]:
#좀 임의적인 느낌... 
gender_mapping = {'남성': 'male',
                  '여성': 'female',
                  '남': 'male',
                  '여': 'female',
                  'Male': 'male',
                  'Female': 'female',
                  'MALE': 'male',
                  'FEMALE': 'female'}                  
tmp['Gender'] = df['Gender'].map(gender_mapping)
tmp['Gender'].value_counts()

male      55707
female    39195
Name: Gender, dtype: int64

In [24]:
df['Gender'] = tmp['Gender'].copy()
df['Gender'].value_counts()

male      55707
female    39195
Name: Gender, dtype: int64

**17. 전체 인원이 아닌, 남성/여성 각각의 최소/평균/최대 키/몸무게/나이를 구해주세요.**

결과적으로 다음의 수치가 나와야 합니다.
  * 전체 남성의 최소/평균/최대 나이
  * 전체 남성의 최소/평균/최대 몸무게(kg)
  * 전체 남성의 최소/평균/최대 키(cm)
  
  * 전체 여성의 최소/평균/최대 나이
  * 전체 여성의 최소/평균/최대 몸무게(kg)
  * 전체 여성의 최소/평균/최대 키(cm)

In [25]:
df['Age'].describe()

count     96199
unique      240
top          33
freq       6295
Name: Age, dtype: object

In [26]:
#숫자가 안맞는 이유는 age에 null 이 있어서~ 
df.loc[df['Gender'] == 'male','Age'].describe()

count     50158
unique      214
top          35
freq       3519
Name: Age, dtype: object

In [35]:
df.loc[df['Gender'] == 'male','Current Weight'].describe()

count    49652.000000
mean        80.055124
std          6.281190
min         66.000000
25%         77.000000
50%         80.000000
75%         82.000000
max        149.000000
Name: Current Weight, dtype: float64

In [39]:
df.loc[df['Gender'] == 'male','Height'].describe()

count    55707.000000
mean       157.931750
std         53.331387
min          0.000000
25%        171.000000
50%        175.000000
75%        179.000000
max        249.000000
Name: Height, dtype: float64

In [40]:
df.loc[df['Gender'] == 'female','Age'].describe()

count     35284
unique      197
top          31
freq       2465
Name: Age, dtype: object

In [41]:
df.loc[df['Gender'] == 'female','Current Weight'].describe()

count    34918.000000
mean        60.178704
std          7.836300
min         49.000000
25%         57.000000
50%         60.000000
75%         62.000000
max        149.000000
Name: Current Weight, dtype: float64

In [42]:
df.loc[df['Gender'] == 'female','Height'].describe()

count    39195.000000
mean       150.578033
std         51.340386
min          0.000000
25%        162.000000
50%        167.000000
75%        171.000000
max        249.000000
Name: Height, dtype: float64

** 18. 감량 목표를 분석하기 **

데이터에서 '현재 체중' - '목표 체중' 을 하면 감량 목표가 나올 것입니다. 감량 목표를 찾아서 새로운 컬럼을 만들어주세요.

또한 kg별로 감량을 원하는 사람의 총 인원을 구해주세요. 가령 1) 1kg 감량을 원하는 총 인원, 2) 2kg 감량을 원하는 총 인원, ... 10) 10kg 감량을 원하는 총 인원이 나와야 합니다.

In [49]:
df['Diet Goal'] = df['Current Weight'] - df['Goal Weight']

In [52]:
df['Diet Goal'].value_counts().sort_index()

1.0     9508
2.0     9500
3.0     9494
4.0     9529
5.0     9629
6.0     9754
7.0     9443
8.0     9397
9.0     9630
10.0    9356
Name: Diet Goal, dtype: int64

** 19. '가입 개월 수'를 숫자로 표현하기 **

'가입 개월 수' 컬럼을 숫자로 정리해주세요. 현재 3개월, 6개월, 12개월로 되어있는데, 이를 3, 6, 12로 정리하시면 됩니다.

또한 0개월은 0이 아닌 NaN으로 집어넣어 주세요.

In [56]:
df['Paid Plan'].value_counts()

0개월     74955
3개월     21250
6개월      7291
12개월     3343
Name: Paid Plan, dtype: int64

In [59]:
def convert_paid_plan(plan):
    if pd.isnull(plan):
        return plan  #null은 그대로 두기
    v = int(plan.replace('개월',''))
    if v == 0:
        return np.NaN
    return v

tmp['Paid Plan'] = tmp['Paid Plan'].apply(convert_paid_plan)

In [60]:
tmp['Paid Plan'].value_counts()

3.0     21250
6.0      7291
12.0     3343
Name: Paid Plan, dtype: int64

In [61]:
tmp['Paid Plan'].isnull().sum()

74955

In [64]:
df['Paid Plan'] = tmp['Paid Plan'].copy()

In [65]:
df['Paid Plan'].value_counts()

3.0     21250
6.0      7291
12.0     3343
Name: Paid Plan, dtype: int64

** 20. '음주 여부'를 숫자로 표현하기**

'음주 여부' 컬럼을 숫자로 정리해주세요. 현재 1) 주 2회, 2) 주 1회, 3) 월 2회, 4) 월 1회 5) 안 마심으로 되어 있습니다만, 이를 월 기준 음주 횟수로 통일해주세요. 여기서 월은 30일로, 주는 4주로 고정합니다.

가령 1) 주 2회는 8, 2) 주 1회는 4, 3) 월 2회는 2, 4) 월 1회는 1, 5) 안 마심은 0으로 표현하면 됩니다.

In [67]:
df['Drinking'].value_counts()

월 2회    32214
주 1회    32194
월 1회    21037
주 2회    10813
안 마심    10581
Name: Drinking, dtype: int64

In [72]:
drinking_mapping = {'월 2회': 2,
                  '주 1회': 4,
                  '월 1회': 1,
                  '주 2회': 8,
                  '안 마심': 0}                  
tmp['Drinking'] = df['Drinking'].map(drinking_mapping)
tmp['Drinking'].value_counts()

2    32214
4    32194
1    21037
8    10813
0    10581
Name: Drinking, dtype: int64

In [74]:
df['Drinking'] = tmp['Drinking'].copy()

In [75]:
df['Drinking'].value_counts()

2    32214
4    32194
1    21037
8    10813
0    10581
Name: Drinking, dtype: int64

** 21.휴대폰 번호 정리하기 **

다양한 표현으로 되어있는 휴대폰 번호를 010-xxxx-xxxx 로 통일해주세요. 가령 휴대폰 번호에 하이픈이 없으면 넣어주시면 됩니다.

또한 unknown으로 되어있거나 비어있는 값은 NaN으로 처리해주세요.

In [92]:
df['Phone Number'].value_counts().to_csv('02-phonenumber-vc.cvs')

In [93]:
df['Phone Number'].isnull().sum()

0

In [94]:
tmp['Phone Number'].isnull().sum()

0

In [96]:
def phone_format(str):
    if str == 'unknown':
        return np.NaN
    
    n = str.replace('-','')
    return n[0:3] + '-' + n[3:7] + '-' + n[7:]
    
print(phone_format('01041954788'))
print(phone_format('010-7622-7957'))

tmp['Phone Number'] = tmp['Phone Number'].apply(phone_format)
tmp['Phone Number'].value_counts().to_csv('02-phonenumber-vc-after.cvs')

010-4195-4788
010-7622-7957

In [97]:
df['Phone Number'] = tmp['Phone Number'].copy()

** 22. 날짜를 사용 가능하게 정리하기 **

현재 '회원 가입일' 컬럼과 '회원 정보 갱신일' 컬럼은 20xx년 xx월 xx일 과 같은 형식으로 되어있습니다.

이 데이터를 현재 판다스에서는 날짜 컬럼이 아닌 문자열(텍스트) 컬럼으로 인식하고 있는데, 이 컬럼을 날짜 컬럼으로 인식할 수 있도록 수정해주세요.

In [99]:
df['Joined At'].value_counts().to_csv('02-joined-at.csv')
df['Updated At'].value_counts().to_csv('02-updated-at.csv')

In [109]:
import datetime 

def date_format(str):
    if str == 'unknown':
        return np.NaN
    
    n = str.replace('년','')
    n = n.replace('월','')
    n = n.replace('일','').strip()
    return datetime.datetime.strptime(n, '%Y %m %d')

print(date_format('2016년 03월 13일'))
print(date_format('2017년 10월 07일'))

v = date_format('2016년 03월 13일')
print(type(v))

2016-03-13 00:00:00
2017-10-07 00:00:00
<class 'datetime.datetime'>

In [113]:
tmp['Joined At'] = tmp['Joined At'].apply(date_format)
tmp['Updated At'] = tmp['Updated At'].apply(date_format)

In [114]:
#왜 datetime으로 안바뀌지? T_T 
tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106839 entries, 0 to 106838
Data columns (total 14 columns):
Name                   106839 non-null object
Gender                 94902 non-null object
Phone Number           96199 non-null object
Age                    96199 non-null object
Current Weight         95245 non-null float64
Goal Weight            95240 non-null float64
Height                 106839 non-null int64
Joined At              106839 non-null datetime64[ns]
Updated At             106839 non-null datetime64[ns]
Smoking                106839 non-null object
Drinking               106839 non-null int64
Paid Plan              31884 non-null float64
Request Counselling    106839 non-null object
Diet Goal              95240 non-null float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(6)
memory usage: 9.0+ MB

In [115]:
df['Joined At'] = tmp['Joined At'].copy()
df['Updated At'] = tmp['Updated At'].copy()

** 23. 날짜를 기준으로 분석하기 **

22번에서 날짜 컬럼을 만들었으면 다음을 분석해주세요.

1. 월별 전체 회원 가입량
2. 월 별 유료/무료 회원 가입량의 차이
3. 월 별 남성/여성 회원 가입량의 차이

In [117]:
#sample data로 먼저 해보자 
df.head(1)

,Name,Gender,Phone Number,Age,Current Weight,Goal Weight,Height,Joined At,Updated At,Smoking,Drinking,Paid Plan,Request Counselling,Diet Goal
0,안원준,male,010-2292-6251,31세,78.0,68.0,176,2016-07-05,2016-07-05,아니오,4,NaN,아니요,10.0

In [143]:
# df.groupby(pd.Grouper(freq="M")).sum()
# In [23]: per = df.Date.dt.to_period("M")  # new way to get the same

# In [24]: g = df.groupby(per)

# In [25]: g.sum()

#요건 일별이고 
# df.groupby(df["Joined At"]).sum()

tmp = tmp.set_index(tmp['Joined At'])

In [146]:
tmp['One'] = 1

#### 1.월 별 유료/무료 회원 가입량의 차이

In [151]:
tmp.resample('M').sum()['One'].head()

Joined At
2016-01-31    4407
2016-02-29    4242
2016-03-31    4434
2016-04-30    4427
2016-05-31    4604
Freq: M, Name: One, dtype: int64

#### 2. 월 별 유료/무료 회원 가입량의 차이

In [184]:
t_free = tmp.loc[tmp['Paid Plan'].isna(), 'One'].resample('M').sum()
t_paid = tmp.loc[~tmp['Paid Plan'].isna(), 'One'].resample('M').sum()

In [188]:
df_free = t_free.to_frame()
# df_free.info()
df2_free = df_free.rename(columns={'One' : 'Free/mon'})
df2_free.head(1)

            Free/mon
Joined At
2016-01-31      3048

In [189]:
df_paid = t_paid.to_frame()
# df_free.info()
df2_paid = df_paid.rename(columns={'One' : 'Paid/mon'})
df2_paid.head(1)

            Paid/mon
Joined At
2016-01-31      1359

In [192]:
df2_paid['Free/Mon'] = t_free

In [194]:
df2_paid.head()

            Paid/mon  Free/Mon
Joined At
2016-01-31      1359      3048
2016-02-29      1270      2972
2016-03-31      1353      3081
2016-04-30      1318      3109
2016-05-31      1366      3238

#### 3. 월 별 남성/여성 회원 가입량의 차이

In [196]:
tmp['Gender'].value_counts()

male      55707
female    39195
Name: Gender, dtype: int64

In [198]:
t_male = tmp.loc[tmp['Gender'] == 'male', 'One'].resample('M').sum()
t_female = tmp.loc[tmp['Gender'] == 'female', 'One'].resample('M').sum()
df2 = t_male.to_frame()
df2 = df2.rename(columns={'One' : 'Male/Month'})
df2['Female/Month'] = t_female
df2.head()

            Male/Month  Female/Month
Joined At
2016-01-31        2316          1619
2016-02-29        2208          1566
2016-03-31        2247          1675
2016-04-30        2314          1619
2016-05-31        2393          1700

** 24. 회원 정보가 맞는지 여부를 확인하는 컬럼을 만들기 **

더 정확한 데이터 분석을 위해서는, 현재까지 고객님이 기업한 회원 정보가 정확한지를 확인하는 작업이 필요합니다. 분석팀에서 데이터를 다음과 같이 정리하면, 오퍼레이션 팀과 코칭 팀이 협업을 통해서 고객 정보를 개선하고, 더 좋은 서비스를 제공할 수 있을 것 같습니다. 다음의 내용이 담겨있는 새로운 컬럼을 하나 만들어주세요. 해당 컬럼에는 reject / counselling / duplicated / confirmed 라는 결과값이 들어가야 합니다.

다음의 경우에는 재기입을 요청한다. (reject)
* 전화번호가 비어있는 경우

다음의 경우는 트레이너와 상담을 유도한다. (counselling)
* 상담 요청(counselling)이 True인 사람.

다음의 경우에는 중복을 확인한다. (duplicated)
* 동일한 이름에 동일한 전화번호를 찾아낸다. 이는 중복되었다고 가정한다.

나머지는 문제가 없다. (confirmed)

In [206]:
tmp['Result'] = 'confirmed'

In [207]:
tmp.loc[tmp['Phone Number'].isna(), 'Result'] = 'rejected'
tmp.loc[tmp['Request Counselling'] == '예', 'Result'] = 'counselling' ##원래 True/Fale로 바꿔야 함 
## duplicated는 모르겠다.

In [208]:
tmp['Result'].value_counts()

confirmed      86682
counselling    10579
rejected        9578
Name: Result, dtype: int64

**25. VIP 찾아내기**

다음의 고객을 특별 관리 대상으로 지정합니다. 특별 관리 대상이라고 함은, TKX 서비스의 VIP 플랜을 구매할 확률이 높은 분들을 의미합니다.

1. 트레이너와 상담을 요청한 사람. (counselling)
2. 상담을 요청하지 않은 사람 중, (현재 체중 - 목표 체중) 이 가장 높은 상위 1,000 명.

이 사람들을 특별관리 대상으로 지정하며, VIP라는 이름의 컬럼에 True 값을 넣으면 됩니다. 이후에는 오퍼레이션/코치 팀이 해당 고객님을 개별 컨택하여, 적극적으로 VIP 플랜을 구매하실 수 있도록 노력할 생각입니다. (특별관리 대상이 아닌 분들은 VIP 컬럼에 False 값을 넣으면 됩니다)

또한 전체 데이터와는 별개로, VIP 고객들만을 따로 뽑아내서 CSV파일로 저장할 수 있다면 좋겠습니다.

In [216]:
tmp['VIP'] = False
tmp.loc[tmp['Result'] == 'counselling', 'VIP'] = True
tmp.loc[tmp['Phone Number'].isna(), 'VIP'] = False ## 이건 필터 
# 2번은 별도 df를 따서 해야 할 듯 
vip = tmp.loc[tmp['VIP'],['Name','Phone Number','VIP']]
vip.to_csv('02-vip.csv')

In [210]:
tmp.head()

,Name,Gender,Phone Number,Age,Current Weight,Goal Weight,Height,Joined At,Updated At,Smoking,Drinking,Paid Plan,Request Counselling,Diet Goal,One,Result,VIP
Joined At,,,,,,,,,,,,,,,,,
2016-07-05,안원준,male,010-2292-6251,31세,78.0,68.0,176,2016-07-05,2016-07-05,아니오,4,NaN,아니요,10.0,1,confirmed,False
2016-10-02,유세아,female,010-4579-5881,39,56.0,51.0,172,2016-10-02,2016-11-29,예,1,NaN,아니요,5.0,1,confirmed,False
2017-09-06,송솔은,female,010-7719-8346,NaN,NaN,NaN,167,2017-09-06,2017-09-06,예,4,NaN,아니요,NaN,1,confirmed,False
2017-06-02,백서원,female,010-1194-7169,36,67.0,65.0,0,2017-06-02,2017-07-28,예,0,NaN,아니요,2.0,1,confirmed,False
2017-05-07,박서은,female,010-2575-6398,42,60.0,57.0,167,2017-05-07,2017-05-07,아니오,0,NaN,예,3.0,1,counselling,True